astroid==2.15.0
Babel==2.12.1
dill==0.3.6
docxcompose==1.4.0
docxtpl==0.16.6
isort==5.12.0
Jinja2==3.1.2
lazy-object-proxy==1.9.0
lxml==4.9.2
MarkupSafe==2.1.2
mccabe==0.7.0
pip==22.3.1
platformdirs==3.1.1
pylint==2.17.1
python-docx==0.8.11
setuptools==65.5.1
six==1.16.0
tomlkit==0.11.6
wheel==0.38.4
wrapt==1.15.0
